@use '../common/main' as m;

.cover {
  position: relative;

  &__overlay {
    min-height: 740px;
    width: 100%;
    background-image: url(../../images/cover_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @extend %flex-column;
    justify-content: center;
    align-items: center;
    @extend %link;

    &::after {
      content: '';
      position: absolute;
      background-color: m.$overlay;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }

    &:hover::after {
      background-color: m.$overlay-hover;
    }

    @media screen and (max-width: m.$desktop-width) {
      min-height: 640px;
    }
    @media screen and (max-width: m.$laptop-width) {
      min-height: 480px;
    }
    @media screen and (max-width: m.$mobile-width) {
      background-image: url(../../images/cover_background_640x400.jpg);
      min-height: 200px;
    }
  }

  &__title {
    @include m.font-size-height(72px, 1.06);
    font-weight: m.$font-bolder;
    max-width: 560px;
    text-align: center;
    margin: 0 0 32px;
    z-index: 2;

    @media screen and (max-width: m.$mobile-width) {
      @include m.font-size-height(32px, 1.09);
      margin-bottom: 16px;
      max-width: 250px;
    }
  }

  &__subtitle {
    @include m.font-size-height(18px, 1.22);
    max-width: 360px;
    text-align: center;
    margin: 0;
    z-index: 2;

    @media screen and (max-width: m.$mobile-width) {
      @include m.font-size-height(14px, 1.14);
      margin: 0 16px;
    }
  }
}
