@use '../common/main' as m;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @media screen and (max-width: m.$tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__copyright {
    @include m.font-size-height(14px, 1.14);
    margin: 0 48px 24px 0;

    @media screen and (max-width: m.$laptop-width) {
      margin-right: 24px;
    }
    @media screen and (max-width: m.$tablet-width) {
      line-height: 1;
      margin-left: 16px;
      margin-top: 16px;
    }
  }

  &__links {
    margin: 0 0 0 48px;
    display: flex;
    @extend %list;

    @media screen and (max-width: m.$laptop-width) {
      margin-left: 24px;
    }
    @media screen and (max-width: m.$tablet-width) {
      flex-direction: column;
      margin-left: 16px;
    }
  }

  &__link {
    @extend %link;
    @include m.font-size-height(16px, 1.12);
    margin-right: 15px;

    @media screen and (max-width: m.$tablet-width) {
      display: inline-block;
      margin-bottom: 32px;
      @include m.font-size-height(24px, 1);
    }
  }
}
