@use '../common/main' as m;

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    background-image: url(../../images/logo.svg);
    background-size: cover;
    width: 176px;
    height: 52px;
    margin: 28px 0 0 48px;

    @include m.laptop {
      margin-left: 24px;
    }

    @include m.tablet {
      width: 142px;
      height: 42px;
      margin: 16px 0 0 16px;
    }
  }

  &__lang-list {
    margin: 46px 48px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 18px;
    @extend %list;

    @include m.laptop {
      margin-right: 24px;
    }

    @include m.tablet {
      margin: 30px 16px 0 0;
    }
  }

  &__lang-link {
    @include m.font(24px, 1.16);
    @extend %link;

    @include m.tablet {
      @include m.font(18px, 1.11);
    }

    &_selected {
      @extend %underline;
    }
  }
}
