@use '../common/main' as m;

.intro {
  @extend %flex-column;
  max-width: 690px;

  @include m.laptop {
    max-width: 100%;
  }

  &__list {
    margin: 0;
    @include m.font(12px, 1.5);
    font-weight: m.$font-bold;
    @extend %list;
  }

  &__number-in-list {
    font-weight: m.$font-normal;
  }

  &__text {
    margin: 40px auto 33px;
    @include m.font(16px, 1.63);
  }

  &__title {
    margin: 0;
    @include m.font(54px, 1.07);
    font-weight: m.$font-bolder;

    @include m.tablet {
      @include m.font(32px, 1.09);
    }
  }
}
