@use '../common/main' as m;

.lead {
  @extend %flex-column;
  align-items: center;

  &__caption {
    @include m.font(10px, 1.4);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 6px;

    @include m.laptop {
      margin-left: 24px;
    }

    @include m.tablet {
      margin: 4px 0 0 14px;
    }
  }

  &__image {
    @extend %image-cover;
  }

  &__image-wrap {
    margin: 0 148px;

    @include m.desktop {
      margin: 0 48px;
    }

    @include m.laptop {
      margin: 0;
    }
  }

  &__subtitle {
    max-width: 640px;
    @include m.font(30px, 1.2);
    text-align: center;
    margin: 0 auto 64px;

    @include m.desktop {
      margin-bottom: 56px;
    }

    @include m.laptop {
      max-width: 288px;
      @include m.font(16px, 1.25);
    }

    @include m.tablet {
      margin-bottom: 40px;
    }
  }

  &__title {
    max-width: 720px;
    @include m.font(96px, 1.04);
    font-weight: m.$font-bolder;
    text-align: center;
    margin: 56px auto 32px;

    @include m.desktop {
      margin-top: 48px;
    }

    @include m.tablet {
      max-width: 288px;
      margin-bottom: 16px;
      @include m.font(40px, 1.1);
    }
  }
}
