@use '../common/main' as m;

.main {
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  row-gap: 92px;

  @include m.laptop {
    row-gap: 88px;
  }

  @include m.tablet {
    row-gap: 64px;
  }
}
