@use '../common/main' as m;

.photo {
  &__wrap {
    margin: 0 48px;
    line-height: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    @extend %list;

    @include m.desktop {
      gap: 14px;
    }
    @include m.laptop {
      margin: 0 24px;
      gap: 16px;
    }
    @include m.tablet {
      margin: 0 16px;
      gap: 12px;
    }
  }

  &__image {
    @extend %image-cover;
  }
}
