@use '../common/main' as m;

.root {
  font-family: m.$main-font;
  background: m.$background;
  color: m.$main-font-color;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;

  &__cover {
    margin: 0 48px 92px;

    @media screen and (max-width: m.$breakpoint-desktop) {
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (max-width: m.$breakpoint-laptop) {
      margin-bottom: 88px;
    }

    @media screen and (max-width: m.$breakpoint-tablet) {
      margin-bottom: 64px;
    }
  }

  &__intro {
    margin-left: 148px;

    @media screen and (max-width: m.$breakpoint-desktop) {
      margin-left: 48px;
    }

    @media screen and (max-width: m.$breakpoint-laptop) {
      margin: 0 24px;
    }

    @media screen and (max-width: m.$breakpoint-tablet) {
      margin: 0 16px;
    }
  }
}
