.root {
  font-family: $main-font;
  background: $background;
  color: $main-font-color;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;

  &__cover {
    margin: 0 48px 92px;

    @media screen and (max-width: $desktop-width) {
      margin-left: 0;
      margin-right: 0;
    }

    @media screen and (max-width: $laptop-width) {
      margin-bottom: 88px;
    }

    @media screen and (max-width: $tablet-width) {
      margin-bottom: 64px;
    }
  }

  &__intro {
    margin-left: 148px;

    @media screen and (max-width: $desktop-width) {
      margin-left: 48px;
    }

    @media screen and (max-width: $laptop-width) {
      margin: 0 24px;
    }

    @media screen and (max-width: $tablet-width) {
      margin: 0 16px;
    }
  }
}
