.header__position {
  margin: 28px 48px 0;
}

@media screen and (max-width: 895px) {
  .header__position {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 544px) {
  .header__position {
    margin: 16px 16px 0;
  }
}
