$background: #2a2c2f;
$overlay: rgba($background, 0.3);
$overlay-hover: rgba($background, 0.8);
$main-font: Inter, Arial, sans-serif;
$main-font-color: #fff;
$gray-font: #aaa;
$font-bolder: 900;
$font-bold: 700;
$font-normal: 400;
$desktop-width: 1200px;
$laptop-width: 895px;
$tablet-width: 735px;
$mobile-width: 631px;
