$background: #2a2c2f;
$main-font: Inter, Arial, sans-serif;
$main-font-color: #fff;
$gray-font: #aaa;
$font-bolder: 900;
$font-bold: 700;
$font-normal: 400;
$desktop-width: 1140px;
$laptop-width: 895px;
$mobile-width-footer: 735px;
$mobile-width-places: 631px;
$mobile-width: 544px;
