.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 735px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
