.places__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  padding-left: 8px;
}

@media screen and (max-width: 631px) {
  .places__website {
    margin-left: 8px;
  }
}
